@import "mocha.css";

* {
        font-family: "JetBrainsMono Nerd Font","Source Han Sans SC";
        font-size: 16.6px;
        opacity: 1;
}

window#waybar {
        background: @mantle;
}

#tray,
#clock#date,
#clock,
#wireplumber,
#battery,
#network,
#custom-left_separator,
#custom-right_separatork {
        background-color: @surface0;
        margin: 4px 0px;  
        font-size: 1.11em;
        color: white;
}


#battery.critical:not(.charging) {
        color: @red;
}

#custom-left_separator,
#custom-right_separator {
        background-color: transparent;
        color: @surface0;
        font-size: 1.11em
}
