@import "mocha.css";

* {
        font-family: "JetBrainsMono Nerd Font","Source Han Sans SC";
        font-size: 16.6px;
        opacity: 1;
}

window#waybar {
        background: transparent;
}

#tray,
#clock#date,
#clock,
#wireplumber,
#battery,
#network {
        background-color: @surface0;
}

#tray {
        font-size: 1.11em;
        color: white;
}

#clock.date {
        color: white;
}

#clock {
  color: white;
}

#wireplumber {
        color: white;
        font-size: 1.1em;
}

#battery {
        color: white;
}
#battery.critical:not(.charging) {
        color: @red;
}

#network {
        color: white;
        font-size: 1.1em;
}

#custom-left_separator,
#custom-right_separator {
        background-color: transparent;
        color: @surface0;
        font-size: 1.1em;
}
