@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font","Source Han Sans SC";
    font-size: 16.6px;
    opacity: 1;
}

window#waybar {
    background: @mantle;
}

#tray,
#clock#date,
#clock,
#wireplumber,
#battery,
#network {
    background-color: @surface0;
    padding: 0.2rem 0.6rem;
    margin: 0px 4px;  
    border-radius: 0.47rem;
}

#clock.date {
    color: white;
}

#clock {
  color: white;
}

#tray {
    font-size: 1.11em;
    color: white;
}

#wireplumber {
    color: white;
    font-size: 1.1em;
}

#battery {
    color: white;
}
#battery.critical:not(.charging) {
    color: @red;
}

#network {
    color: white;
    font-size: 1.1em;
}

