environment {
        // 编码
        LC_MESSAGES           "zh_CN.UTF-8"                     

        // 桌面
        XDG_CURRENT_DESKTOP   "niri"

        // 图形会话
        XDG_SESSION_TYPE      "wayland"

        // X11输入法
        XMODIFIERS            "@im=fcitx"
        // Qt输入法
        QT_IM_MODULE          "fcitx"
        // 部分程序的输入法
        INPUT_METHOD          "fcitx"
        // SDL（游戏）的输入法
        SDL_IM_MODULE         "fcitx"
        // GLFW的输入法协议
        GLFW_IM_MODULE        "ibus"

        // Mozilla应用使用Wayland
        MOZ_ENABLE_WAYLAND    "1"

        // fzf配置路径
        FZF_DEFAULT_OPTS_FILE "/home/tistath/.config/fzf/fzfrc"
}
