input {
        // 键盘
        keyboard {
                // 长按的延迟
                repeat-delay 190
                // 每秒重复的次数
                repeat-rate  20
                // 默认启用小键盘
                numlock
        }

        // 触摸板
        touchpad {
                // 点击视为左键
                tap
                // 自然滚动
                natural-scroll
        }

        // 鼠标
        mouse {
                // 鼠标速度
                accel-speed 0.5
        }
}
