layout {
        // 窗口间距
        gaps 12

        // 调整窗口大小时的可选值
        preset-column-widths {
                proportion 0.25
                proportion 0.5
                proportion 0.75
                proportion 1.0
        }

        preset-window-heights {
                proportion 0.25
                proportion 0.5
                proportion 0.75
                proportion 1.0
        }

        // 新窗口默认宽度
        default-column-width {
                proportion 0.5;
        }

        // 聚焦窗口的边框
        focus-ring {
                // 宽度
                width 3.00
                // 颜色
                active-color "#b4befe" // (catppuccin-mocha-Pink)
        }

        // 不绘制底色
        background-color "transparent"
}
