overview {
        // 缩放
        zoom             0.335

        // 背景颜色
        backdrop-color   "#181825" // (catppuccin-mocha-Mantle)

        // 窗口阴影
        workspace-shadow {
                // 模糊程度
                softness 30

                // 扩散范围
                spread   5

                // 阴影偏移
                offset   x=0 y=0

                // 阴影颜色
                color    "#11111bcb" // (catppuccin-mocha-Crust)
        }

}
