window-rule {
        // 圆角大小
        geometry-corner-radius      12

        // 裁掉超出边框的内容
        clip-to-geometry            true

        // 不填充背景
        draw-border-with-background false
}

// Zen浏览器画中画规则
window-rule {
        match         app-id=r#"zen-browser$"# title="^Picture-in-Picture$"

        // 设为浮动窗口
        open-floating true
}
